.body-background {
    width : 100%;
    height : 100%;
}

.body-background img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:100%;
    object-fit: cover;
}

.search {
    display : flex;
    justify-content: center;
    align-items: center;
    /*
    box-sizing: border-box;
    padding : 148px 388px;
    */
    margin-top : 252px;
}

.search-container {
    display:flex;
    align-items: center;
    background-color: white;
    width : 580px;
    padding : 16px 20px;
    border-radius: 28px;
}

.search-button {
    background : transparent;
    border : none;
    font-size : 20px;
    cursor : pointer;
}

.search-input {
    border : none;
    outline : none;  /* border : none; 코드랑 똑같은 코드인듯함*/
    background : transparent;
    margin-left : 20px;
    font-size : 16px;
    flex-grow : 1;    /* 부모의 남은 공간을 차지하는 코드 */
}

.search-input::placeholder {
    color : #bbb;
}